#ouibounce-modal {
  font-family: 'Open Sans', sans-serif;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
#ouibounce-modal .underlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  cursor: pointer;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}
#ouibounce-modal .modal {
  width: 600px;
  height: 400px;
  background-color: #f0f1f2;
  z-index: 1;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  -webkit-animation: popin 0.3s;
  animation: popin 0.3s;
}
#ouibounce-modal .modal-title {
  font-size: 18px;
  background-color: #252525;
  color: #fff;
  padding: 10px;
  margin: 0;
  border-radius: 4px 4px 0 0;
  text-align: center;
}
#ouibounce-modal h3 {
  color: #fff;
  font-size: 1em;
  margin: 0.2em;
  text-transform: uppercase;
  font-weight: 500;
}
#ouibounce-modal .modal-body {
  padding: 20px 35px;
  font-size: 0.9em;
}


#ouibounce-modal .modal-footer {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}
#ouibounce-modal .modal-footer p {
  text-transform: capitalize;
  cursor: pointer;
  display: inline;
  border-bottom: 1px solid #344a5f;
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes popin {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }

  85% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-ms-keyframes popin {
  0% {
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }

  85% {
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 1;
  }

  100% {
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes popin {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }

  85% {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
.over-window{
	font-family:'Roboto', serif;
	/*height:629px;*/width:650px;
	z-index:9999;
	padding:10px 0 0;
	cursor:default;
	background: #FFF none repeat scroll 0% 0%;
	position:fixed;
	top:5%;
	left:50%;
	margin:0 0 0 -391px;
	border:3px solid #3e3e3e;
}



/*.ex-logo{width:426px;height:55px;margin:40px auto 0;background:url(../img/exitsprite2.png) 0 0 no-repeat;} */
.ex-logo{
    color: #111111;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 28px;
	line-height: 38px;
	/*width:426px;
	height:55px;*/
	margin:15px auto 10px;
	padding: 0px 15px;
	text-align:center;
	font-weight: bold !important;
	}
.footer-button{
    color: #AE1210;
    font-family: "Roboto Condensed",Georgia,"Century Schoolbook L",serif;
    font-size: 46px;
    line-height: 56px;
	/*width:426px;
	height:55px;*/
	margin:5px auto 0px;
	padding: 0px 15px;
	text-align:center;
	}	
/*.footer-button a{
	background: #7D3B7C no-repeat scroll 445px center;
	color: #FFF !important;
	padding: 9px 22px;
	text-indent: 27px;
	border-radius: 20px;
	cursor: pointer;
	font-family: Arial,Helvetica,sans-serif;
    font-size: 32px;
	margin-bottom: 10px;
	text-decoration: none;
	font-weight: normal;
	line-height: 2.3em;
}*/

.footer-button a{
	font-family: Arial;
    cursor: pointer;
    /*padding: 0 42px;*/
    border: none;
    display: block;
    margin: 5px auto 10px;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    height: 51px;
    line-height: 51px;
    background: #e74c3c;
    font-weight: normal;
    border-bottom: 2px solid #c0392b;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 9px;
    width: 380px;
}

.footer-button a:hover {
    background: #e75c4e;
}

.footer-button a:hover{
	color: #FFF;
}

.ppubtxt {
	font-family: Arial,Helvetica,sans-serif;
	text-align: center !important;
	font-size: 18px;
	margin-bottom: 10px;
	width: 650px;
	padding: 0;
	color: #111;
	margin-top: 0;
}

.exit-slogan{
	color: #222;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 22px;
	line-height: 32px;
	/*width:426px;
	height:55px;*/
	margin:10px auto 5px;
	padding: 0px 15px;
	text-align:center;
	font-weight: normal;
	width: 550px;
}
.exitprod-img{
	width:230px;
	/*height:529px;*/
	margin:15px 15px 0 15px;
	float:left;
	text-align: center;
}
.exit-form{width:370px;float:left;}
.exit-form-text{margin:10px 0 20px;}
.exit-form-text .subhead{
	font-size:20px;
	font-weight:700;
	line-height:29px;
	/*color:#333;*/
	color:#782B2B;
	/*margin-top:-35px;*/
}
.exit-form-text .subhead ul {
	list-style: outside none none;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 20px;
	line-height: 32px;
	font-weight: normal;
	padding-left: 10px;
}
.exit-form-text .subhead ul li {
	background: transparent url("") no-repeat scroll 0px 10px;
	margin-top: 10px;
	padding-left: 30px;
	padding-bottom: 10px;
	text-align: left;
}
.exit-row{width:318px;margin:0 15px 24px 0;position:relative;}
.exit-row input{margin:0;padding:12px 6px 12px 40px;height:47px;width:270px;border:none;outline:none;}
.exicon{height:47px;width:38px;top:0;left:0;position:absolute;background:url("") no-repeat;}
.exicon.exicon-name{background-position:-1267px 12px;}
.exicon.exicon-phone{background-position:-1267px -59px;}
.overlay{cursor:pointer;position: fixed;width: 100%;height: 100%;background:url("");top: 0;left: 0;z-index: 9999;overflow: hidden;}
.close-ex{height:52px;width:52px;cursor:pointer;position:absolute;top:10px;right:-26px;background:url("") no-repeat;}
.send-exitform{display:block;cursor:pointer;height:54px;width:315px;margin:27px 0 0;border:none;outline:none; background: url("") no-repeat; font-size:28px; color:#FFF;margin-left:-23px;}
.send-exitform:hover { color:#000; margin-left:-23px;}

.exattent{font-size:14px;color:#fff;width:340px;margin:14px 0 0 -6px;}
.exit-row input.error{border:none;}
.clr{clear:both;}


.over-window-consult{
	font-family:'Roboto', serif;
	/*height:629px;*/width:650px;
	z-index:9999;
	padding:10px 0 0;
	cursor:default;
	background: #FFF none repeat scroll 0% 0%;
	position:fixed;
	top:5%;
	left:50%;
	margin:0 0 0 -391px;
	border:3px solid #3e3e3e;
	display: none;
}

.un-overlay {
	position:absolute;
	top: 50%;
	left: 50%;
	width:437px;
	height:322px;
	padding:20px 18px;
	margin-top:-181px;
	margin-left:-238px;
	margin-bottom: 5px;
	background:#fff url("") center center repeat;
	font-family: Arial,Helvetica,sans-serif;
	border:1px solid rgb( 178, 178, 178 );
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
			border-radius: 15px;
	-webkit-box-shadow: inset 0px 0px 1px 1px #fff;
	   -moz-box-shadow: inset 0px 0px 1px 1px #fff;
			box-shadow: inset 0px 0px 1px 1px #fff;
			width: 420px;
			margin-left: 96px;
	}
.un-overlay.mod-static {
	position:relative;
	top: 0px;
	left: 0px;
	margin:0px;
	}
.un-overlay.mod-auto {
	position:relative;
	top: 0px;
	left: 0px;
	width: auto;
	height: auto;
	margin:0px;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
			width: 420px;
			margin-left: 96px;
	}
.un-overlay .un-wrapper {
	position:relative;
	width:100%;
	height:100%;
	}
.un-overlay .un-wrapper .line {
	position:relative;
	padding:0px 20px 20px 115px;
	}
.un-overlay .un-wrapper .line label {
	position:absolute;
	top:6px;
	left:0px;
	}
.un-overlay .un-wrapper .line input[type="text"],
.un-overlay .un-wrapper .line select {
	display:block;
	width:100%;
	height:31px;
	padding:0px 10px;
	border:1px solid #b2b2b2;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
	-webkit-box-shadow: inset 0px 0px 1px 1px #fff;
	   -moz-box-shadow: inset 0px 0px 1px 1px #fff;
			box-shadow: inset 0px 0px 1px 1px #fff;
	font-size: 15px;
	font-family: "Trebuchet MS";
	color: #353535;
	line-height: 2;
	background:#fff url("") top left repeat-x;
	margin-bottom: 0;
	}
.un-overlay .un-wrapper .line select {
	height:33px;
	}
.un-overlay .un-wrapper .line.mod-select {
	padding-left: 137px;
	padding-right:0px;
	}
.un-overlay .un-wrapper .line.mod-gray {
	line-height:49px;
	padding-left:113px;
	padding-bottom:0px;
	margin:0px -18px;
	background-color:#dddddd;
	}
.un-overlay .un-wrapper .line.mod-gray label {
	top:0px;
	left:20px;
	}
.un-overlay .un-wrapper .line.mod-hr {
	background-image:url("");
	background-position:top left;
	background-repeat:repeat-x;
	}
.submit {
	position:relative;
	padding:0px 0px 8px;
	margin:5px 0px 0px;
	top:0px;
	left:0px;
	border:0px;
	font-size: 22px !important;
	font-family: Arial,Helvetica,sans-serif;
	color: #353535;
	font-weight: bold;
	font-style: italic;
	line-height: 1.8;
	text-shadow: 0px 1px 0px rgb( 250, 250, 250 );
	cursor:pointer;
	outline: 0;
	width:90%;
	height: 50px;
	}
.submit,
.submit:hover,
.submit:before,
.submit:after {
	background:url("") top left repeat;
	}
.submit:before,
.submit:after {
	content:" ";
	position:absolute;
	top:0px;
	width:22px;
	height:48px;
	}
.submit:before {
	left:-22px;
	}
.submit:after {
	right:-22px;
	}
.submit.green:before	{background-position:0px    0px;}
.submit.green 			{background-position:0px  -50px;
	color: #1a3a01;
	text-shadow: 0px 1px 0px rgb( 190, 255, 103 );
	}
.submit.green:after		{background-position:0px -100px;}
.submit.green:hover:before {
	background-position:0px -300px;
}
.submit.green:hover {
	background-position:0px -350px;
	color: #02463c;
	text-shadow: 0px 1px 0px rgb( 110, 255, 142 );
	}
.submit.green:hover:after {background-position:0px -400px;}

.cunsultbadname, .cunsultbadphone {
    background: rgb(249, 157, 157) none repeat scroll 0% 0%;
    border: 1px solid rgb(250, 101, 101);
    border-radius: 3px;
    font-size: 18px;
    padding: 5px !important;
    line-height: 24px;
    color: rgb(0, 0, 0);
    display: none;
    text-align: center;
    width: 410px;
    margin-top: 0;
}
.cunsultbadname {
	margin-bottom: 10px;
}
.ppofsite {
	font-family: Arial,Helvetica,sans-serif;
	text-align: center !important;
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 5px;
	text-align: center;
	padding: 0;
	color: #111;
	margin-top: 10px;
}